* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 80px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgb(232, 226, 226);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo-container {
  height: 45px;
  width: 45px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100%;
  background-size: cover;
}

.lists-container {
  display: flex;
  align-items: center;
}

.lists {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  margin-left: 25px;
}

.lists sup {
  color: red;
}

.search-container {
  height: 45px;
  width: 500px;
  display: flex;
  align-items: center;
  background-color: white;
}

.search-logo-container {
  height: 45px;
  width: 45px;
  background-color: rgb(232, 226, 226);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  height: 100%;
  width: 100%;
  background-color: rgb(232, 226, 226);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
}

.items-container {
  width: 250px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section {
  height: 400px;
  background-image: url("images/banner.jpg");
  background-size: cover;
  margin: 20px 0px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.categories-container {
  border-bottom: 1px solid rgb(232, 226, 226);
  margin: 40px 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Images {
  width: 250px;
}

.heading-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: rgba(243, 240, 240, 0.815);
  height: 480px;
}
.footer-container {
  height: 420px;
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.shopping-list,
.Links {
  height: 400px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.quotation {
  color: rgba(16, 16, 16, 0.65);
}

.menu span {
  margin-top: 15px;
  color: lightslategray;
  cursor: pointer;
}

.social-media {
  display: flex;
  flex-direction: column;
}

.inner-social-media {
  margin-top: 15px;
  display: flex;
}

.logos {
  margin-left: 15px;
  cursor: pointer;
}

.logos i {
  color: lightslategray;
}

.copywrite-container {
  font-size: 1.15rem;
  color: rgb(97, 112, 128);
  padding: 20px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
}

.copywrite-container span {
  color: rgb(27, 134, 201);
  font-size: 1.2rem;
  font-weight: 700;
}
